body *{
    font-family: 'Open Sans', serif;
}

body {
    background-color: lightgrey;
}

.page {
    width: 1250px;
    background-color: #FFFDF4;
    margin: auto;
    padding: 50px;
    padding-top: 10px;
}



h1 {
	font-size: 80px;
	color: #404040;
	font-family: 'Garamond', serif;
	text-align: center;
	font-weight: bolder;
}

h3 {
	font-size: 25px;
	color:#404040;
	opacity: 10;
	font-weight: lighter;
	text-align: center;
	font-family: 'Garamond', serif;
}

h2 {
	font-size: 35px;
	color: #404040;
	font-weight: bolder;
	text-align: center;
	font-family: 'Garamond', serif;
	width: 550px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.v-large-container{
	width: 1150px;
}

.v-container {
    width: 100%;
}

#introduction {
	text-align: center;
	font-size: 17px;
	line-height: 30px;
	padding-top: 0px;
}


